<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="customer">
	
	<select id="selectList" resultType="customerDto">
		SELECT ID, PASSWORD, NAME
		FROM INSA_LOGIN
	</select>
	
	<insert id="insert" parameterType="customerDto">
		INSERT INTO INSA_LOGIN VALUES(#{id }, #{password }, #{name })
	</insert>
	
	<select id="selectOne" resultType="customerDto" parameterType="String">
		SELECT ID, PASSWORD, NAME
		FROM INSA_LOGIN
		WHERE ID = #{id}
	</select>
	
	<update id="update" parameterType="customerDto">
		UPDATE INSA_LOGIN SET PASSWORD = #{password }, NAME = #{name } WHERE ID = #{id }
	</update>
	
	<delete id="delete" parameterType="String">
		DELETE FROM INSA_LOGIN WHERE ID = #{id} 
	</delete>
	
	<select id="login" parameterType="map" resultType="customerDto">
		SELECT ID, PASSWORD, NAME
		FROM INSA_LOGIN
		WHERE ID = #{id} AND PASSWORD=#{pw}
	</select>
	
</mapper>
